@import "variables";

.heading {
    color: $colorWhite;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    font-weight: 600;

    &_title {
        font-size: 26px;
        line-height: 27px;
        letter-spacing: 1.73px;
    }

    &_subtitle {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 10px;
    }
}
