@import "./stylesheets/all";

body {
	background: url("../static/img/bg-test.jpeg") center no-repeat;
	background-size: cover;
}

.title {
	transform: scale(0.8);
}

.title-entered {
	transform: scale(1);
}